<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fill-up-ya-heading" jhiTranslate="yakitanalizApp.fillUp.home.createOrEditLabel">Create or edit a Fill Up</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!fillUp.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="fillUp.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.fillUp.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="fillUp.quantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.fillUp.unitPrice" for="field_unitPrice">Unit Price</label>
                    <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                        [(ngModel)]="fillUp.unitPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.fillUp.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="fillUp.date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.fillUp.totalDistance" for="field_totalDistance">Total Distance</label>
                    <input type="number" class="form-control" name="totalDistance" id="field_totalDistance"
                        [(ngModel)]="fillUp.totalDistance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.fillUp.partial" for="field_partial">Partial</label>
                    <input type="checkbox" class="form-control" name="partial" id="field_partial"
                        [(ngModel)]="fillUp.partial" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.fillUp.missed" for="field_missed">Missed</label>
                    <input type="checkbox" class="form-control" name="missed" id="field_missed"
                        [(ngModel)]="fillUp.missed" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.fillUp.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="fillUp.note" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.fillUp.statsDistance" for="field_statsDistance">Stats Distance</label>
                    <input type="number" class="form-control" name="statsDistance" id="field_statsDistance"
                        [(ngModel)]="fillUp.statsDistance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.fillUp.statsQuantity" for="field_statsQuantity">Stats Quantity</label>
                    <input type="number" class="form-control" name="statsQuantity" id="field_statsQuantity"
                        [(ngModel)]="fillUp.statsQuantity" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.fillUp.vehicle" for="field_vehicle">Vehicle</label>
                    <select class="form-control" id="field_vehicle" name="vehicle" [(ngModel)]="fillUp.vehicle" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vehicleOption.id === fillUp.vehicle?.id ? fillUp.vehicle : vehicleOption" *ngFor="let vehicleOption of vehicles; trackBy: trackVehicleById">{{vehicleOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
