<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="expense">
            <h2><span jhiTranslate="yakitanalizApp.expense.detail.title">Expense</span> {{expense.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yakitanalizApp.expense.date">Date</span></dt>
                <dd>
                    <span>{{expense.date}}</span>
                </dd>
                <dt><span jhiTranslate="yakitanalizApp.expense.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'yakitanalizApp.ExpenseType.' + expense.type}}">{{expense.type}}</span>
                </dd>
                <dt><span jhiTranslate="yakitanalizApp.expense.odometer">Odometer</span></dt>
                <dd>
                    <span>{{expense.odometer}}</span>
                </dd>
                <dt><span jhiTranslate="yakitanalizApp.expense.paidAmount">Paid Amount</span></dt>
                <dd>
                    <span>{{expense.paidAmount}}</span>
                </dd>
                <dt><span jhiTranslate="yakitanalizApp.expense.note">Note</span></dt>
                <dd>
                    <span>{{expense.note}}</span>
                </dd>
                <dt><span jhiTranslate="yakitanalizApp.expense.vehicle">Vehicle</span></dt>
                <dd>
                    <div *ngIf="expense.vehicle">
                        <a [routerLink]="['/vehicle-ya', expense.vehicle?.id, 'view']">{{expense.vehicle?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/expense-ya', expense.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
