<div>
    <h2 id="page-heading">
        <span jhiTranslate="otodepomApp.expense.home.title">Expenses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-expense-ya" [routerLink]="['/expense-ya/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="otodepomApp.expense.home.createLabel">
            Create new Expense
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="expenses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="otodepomApp.expense.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="otodepomApp.expense.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="odometer"><span jhiTranslate="otodepomApp.expense.odometer">Odometer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paidAmount"><span jhiTranslate="otodepomApp.expense.paidAmount">Paid Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span jhiTranslate="otodepomApp.expense.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vehicle.id"><span jhiTranslate="otodepomApp.expense.vehicle">Vehicle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expense of expenses ;trackBy: trackId">
                <td><a [routerLink]="['/expense-ya', expense.id, 'view' ]">{{expense.id}}</a></td>
                <td>{{expense.date | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'otodepomApp.ExpenseType.' + expense.type}}">{{expense.type}}</td>
                <td>{{expense.odometer}}</td>
                <td>{{expense.paidAmount}}</td>
                <td>{{expense.note}}</td>
                <td>
                    <div *ngIf="expense.vehicle">
                        <a [routerLink]="['../vehicle-ya', expense.vehicle?.id, 'view' ]" >{{expense.vehicle?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/expense-ya', expense.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/expense-ya', expense.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'expense-ya/'+ expense.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="expenses && expenses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
