<div>
    <h2 id="page-heading">
        <span jhiTranslate="otodepomApp.vehicle.home.title">Vehicles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehicle-ya" [routerLink]="['/vehicle-ya/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="otodepomApp.vehicle.home.createLabel">
            Create new Vehicle
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vehicles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fuelType"><span jhiTranslate="otodepomApp.vehicle.fuelType">Fuel Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cc"><span jhiTranslate="otodepomApp.vehicle.cc">Cc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="year"><span jhiTranslate="otodepomApp.vehicle.year">Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transmission"><span jhiTranslate="otodepomApp.vehicle.transmission">Transmission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="photo"><span jhiTranslate="otodepomApp.vehicle.photo">Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statsDistance"><span jhiTranslate="otodepomApp.vehicle.statsDistance">Stats Distance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statsQuantity"><span jhiTranslate="otodepomApp.vehicle.statsQuantity">Stats Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalExpense"><span jhiTranslate="otodepomApp.vehicle.totalExpense">Total Expense</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="odometer"><span jhiTranslate="otodepomApp.vehicle.odometer">Odometer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span jhiTranslate="otodepomApp.vehicle.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="model.id"><span jhiTranslate="otodepomApp.vehicle.model">Model</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span jhiTranslate="otodepomApp.vehicle.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vehicle of vehicles ;trackBy: trackId">
                <td><a [routerLink]="['/vehicle-ya', vehicle.id, 'view' ]">{{vehicle.id}}</a></td>
                <td jhiTranslate="{{'otodepomApp.FuelType.' + vehicle.fuelType}}">{{vehicle.fuelType}}</td>
                <td>{{vehicle.cc}}</td>
                <td>{{vehicle.year}}</td>
                <td jhiTranslate="{{'otodepomApp.Transmission.' + vehicle.transmission}}">{{vehicle.transmission}}</td>
                <td>
                    <a *ngIf="vehicle.photo" (click)="openFile(vehicle.photoContentType, vehicle.photo)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="vehicle.photo">{{vehicle.photoContentType}}, {{byteSize(vehicle.photo)}}</span>
                </td>
                <td>{{vehicle.statsDistance}}</td>
                <td>{{vehicle.statsQuantity}}</td>
                <td>{{vehicle.totalExpense}}</td>
                <td>{{vehicle.odometer}}</td>
                <td>{{vehicle.note}}</td>
                <td>
                    <div *ngIf="vehicle.model">
                        <a [routerLink]="['../enumeration-ya', vehicle.model?.id, 'view' ]" >{{vehicle.model?.id}}</a>
                    </div>
                </td>
                <td>
                    {{vehicle.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vehicle-ya', vehicle.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vehicle-ya', vehicle.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vehicle-ya/'+ vehicle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="vehicles && vehicles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
