<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-vehicle-ya-heading" jhiTranslate="yakitanalizApp.vehicle.home.createOrEditLabel">Create or edit a Vehicle</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!vehicle.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="vehicle.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.vehicle.fuelType" for="field_fuelType">Fuel Type</label>
                    <select class="form-control" name="fuelType" [(ngModel)]="vehicle.fuelType" id="field_fuelType" >
                        <option value="GAS">{{'yakitanalizApp.FuelType.GAS' | translate}}</option>
                        <option value="DIESEL">{{'yakitanalizApp.FuelType.DIESEL' | translate}}</option>
                        <option value="LPG">{{'yakitanalizApp.FuelType.LPG' | translate}}</option>
                        <option value="HYBRID">{{'yakitanalizApp.FuelType.HYBRID' | translate}}</option>
                        <option value="ELECTRIC">{{'yakitanalizApp.FuelType.ELECTRIC' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.vehicle.cc" for="field_cc">Cc</label>
                    <input type="number" class="form-control" name="cc" id="field_cc"
                        [(ngModel)]="vehicle.cc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.vehicle.year" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                        [(ngModel)]="vehicle.year" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.vehicle.transmission" for="field_transmission">Transmission</label>
                    <select class="form-control" name="transmission" [(ngModel)]="vehicle.transmission" id="field_transmission" >
                        <option value="AUTO">{{'yakitanalizApp.Transmission.AUTO' | translate}}</option>
                        <option value="MANUAL">{{'yakitanalizApp.Transmission.MANUAL' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.vehicle.model" for="field_model">Model</label>
                    <select class="form-control" id="field_model" name="model" [(ngModel)]="vehicle.model" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enumerationOption.id === vehicle.model?.id ? vehicle.model : enumerationOption" *ngFor="let enumerationOption of enumerations; trackBy: trackEnumerationById">{{enumerationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yakitanalizApp.vehicle.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="vehicle.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === vehicle.user?.id ? vehicle.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
