<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Araçlarım</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="items.length > 0">
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="items.length == 0" class="verticalcenter">
    <ion-grid>
      <ion-row>
        <ion-col col-12 text-center>
          <h5>Henüz aracınız yok.</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center>
          <button ion-button color="secondary" (click)="addVehicle">
            <ion-icon name="car"></ion-icon>&nbsp; Araç Ekle
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="selectedItem" padding>
    You navigated here from
    <b>{{selectedItem.title}}</b>
  </div>
</ion-content>