<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="enumerationType">
            <h2><span jhiTranslate="yakitanalizApp.enumerationType.detail.title">Enumeration Type</span> {{enumerationType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yakitanalizApp.enumerationType.name">Name</span></dt>
                <dd>
                    <span>{{enumerationType.name}}</span>
                </dd>
                <dt><span jhiTranslate="yakitanalizApp.enumerationType.description">Description</span></dt>
                <dd>
                    <span>{{enumerationType.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/enumeration-type-ya', enumerationType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
