<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="enumeration">
            <h2><span jhiTranslate="yakitanalizApp.enumeration.detail.title">Enumeration</span> {{enumeration.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yakitanalizApp.enumeration.name">Name</span></dt>
                <dd>
                    <span>{{enumeration.name}}</span>
                </dd>
                <dt><span jhiTranslate="yakitanalizApp.enumeration.description">Description</span></dt>
                <dd>
                    <span>{{enumeration.description}}</span>
                </dd>
                <dt><span jhiTranslate="yakitanalizApp.enumeration.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'yakitanalizApp.EnumerationType.' + enumeration.type}}">{{enumeration.type}}</span>
                </dd>
                <dt><span jhiTranslate="yakitanalizApp.enumeration.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="enumeration.parent">
                        <a [routerLink]="['/enumeration-ya', enumeration.parent?.id, 'view']">{{enumeration.parent?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/enumeration-ya', enumeration.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
