<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <h1 class="display-4"><span *ngIf="account" jhiTranslate="home.userTitle"
                    translateValues="{username: '{{account.login}}'}">Welcome, {{account.login}}!</span></h1>
            </div>
            <div *ngSwitchCase="false">
                <h1 class="display-4" jhiTranslate="home.guestTitle">Welcome!</h1>
            </div>
        </div>

    </div>
</div>